$color-del-bg: linear-gradient(90deg, rgba(143,108,152,1) 0%, rgba(51,0,255,1) 100%);
$color-letra: white;
$fuente-blink: "Permanent Marker";
$fuente-roboto: "Roboto";
$texto-en-el-medio: center;
$insta: #8a3ab9;
$fb: #3b5998;
$tw: #add8e6;